doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 查额系统
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="查额系统")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="http://feidaijun.xiaohongxian.com/zonghes.css")
		script(src="http://feidaijun.xiaohongxian.com/remind.js")
	body
		div.top_t
			img.chaedu_welcome(src="http://feidaijun.xiaohongxian.com/fd_lists.png")
			div.chaedu_profile
				div.chaedu_profile_a(style="height:20px;")
					div.chaedu_aaaa(style="font-size:8px;color:#999;border:1px solid #d32628;") 录件时间
				div.chaedu_profile_a
					div.chaedu_aa 客户姓名
					div.chaedu_aa 综合评分
					div.chaedu_aa 初始额度
				div.chaedu_profile_a
					div.chaedu_aa 手机号
					div.chaedu_aa 饥渴系数
					div.chaedu_aa 客户进度
				//- div.chaedu_profile_a
				//- 	div.chaedu_aab 合伙人
				//- 	div.chaedu_aab 预计奖金
			div.chaedu_content
				each item in rets
					div.chaedu_profile(style="margin-top:5px;")
						div.chaedu_profile_a(style="height:20px;")
							div.chaedu_aaaa(style="font-size:8px;color:#999;")=item.time
						div.chaedu_profile_a
							div.chaedu_aaa=item.username
							div.chaedu_aaa=item.zonghefen
							div.chaedu_aaa=item.chushiedu
						div.chaedu_profile_a
							div.chaedu_aaa=item.number
							div.chaedu_aaa=item.jikexishu
							div.chaedu_aaa(style="color:red;")=item.jindu_