doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 领佣金
		link(rel="shortcut icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="bookmark" href="http://feidaijun.xiaohongxian.com/logo.png")
		link(rel="icon" href="http://feidaijun.xiaohongxian.com/logo.png" type="image/png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="apple-touch-icon" href="http://feidaijun.xiaohongxian.com/logo.png")
		meta(name="apple-mobile-web-app-title" content="领佣金")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="white")
		link(rel="stylesheet" href="/styles/getMoney.css")
		script(src="http://feidaijun.xiaohongxian.com/remindx.js")
	body
		div.getMoney 2月总成绩
		div.getMoney_content(style="color:#474747;font-size:80px;")=zong
		div.getMoneys(style="margin-top:10px;") 达到有效时间的客户
		div.getMoney_a
			div.getMoney_content
				div.getMoney_weeks 姓名
				div.getMoney_weeks 电话
				div.getMoney_weeks 下款额度
				div.getMoney_weeks 生效时间
			div.getMoney_content(style="margin-bottom:10px;")
				div.getMoney_weeks 业务归属
				div.getMoney_weeks 归属者手机号
				div.getMoney_weeks 佣金是否发出
				div.getMoney_weeks 其他
		if len===0
			div(style="margin-top:10px;font-size:12px;color:#666;") --没有要结算的数据--
		else
			each item in data
				div.getMoney_as(style="margin-top:10px;")
					div.getMoney_content
						div.getMoney_weeks=item.username
						div.getMoney_weeks=item.number
						div.getMoney_weeks=item.xiakuanEdu
						div.getMoney_weeks=item.shengxiaoTime
					div.getMoney_content
						div.getMoney_weeks=item.ownername
						div.getMoney_weeks=item.ownerNumber
						if item.isSuccess
							div.getMoney_weeks 佣金已发出
						else
							div.getMoney_weeks 佣金还未发
						div.getMoney_weeks=item.isBecause
		div(style="width:100vw;height:100px;margin-top:60px;")
		div.footer 领佣金须知
		div.footer_a(style="display:none;")
			div.getMoney_message
				div.chaedu_guize
					p.p_guize <span class="span_guize">1</span>佣金由谁发：平台直达代理人支付宝账户，安全可靠。
					p.p_guize <span class="span_guize">2</span>佣金发放：请在后台绑定支付宝账号，佣金会在生效日后1-2个工作日内自动发放到绑定的支付宝账户；
					p.p_guize <span class="span_guize">3</span>支付宝账号：请确保绑定的支付宝手机账号的姓名与代理姓名是匹配的，不匹配的账号佣金发放不成功；
					p.p_guize <span class="span_guize">4</span>佣金多久到账：当佣金生效以后，1-2个工作日内发放至绑定的支付宝账户。
					p.p_guize <span class="span_guize">5</span>结算遇到问题：加结算助手微信2445255646解决；
					p.p_guize <span class="span_guize">6</span>注意：节假日生效的佣金延后到第一个工作日发放，另外2018年代理人的佣金由上级发放，平台监督！！
			img.clear_t(style="margin-top:10px;" src="http://feidaijun.xiaohongxian.com/clear.png")
	script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
	script(src="http://feidaijun.xiaohongxian.com/getMoneys.js")