div.dailiprofiles
	div.kuang
		div 姓名：
		div#namea=namea
	div.kuang
		div 电话：
		div#numbera=numbera
	div.kuang
		div 业绩：
		div#zongyeji=yeji
	div.kuang
		div 直属代理：
		div#dailiN=dailis
	div.kuang
		div 邀请次数：
		div#shenqingN=counts
	div.kuang
		div 支付宝：
		div#alipays=alipay
	div#buttons 查他上级信息
div.circle ×
script(src="http://feidaijun.xiaohongxian.com/jquery.min.js")
script(src="http://feidaijun.xiaohongxian.com/chashangjijsa.js")